other


# Django project

api/Jiri/*.egg-info
api/Jiri/*.pot
api/Jiri/*.py[co]
api/Jiri/.tox/
api/Jiri/__pycache__
api/Jiri/__pycache__/
api/Jiri/MANIFEST
api/Jiri/dist/
api/Jiri/docs/_build/
api/Jiri/docs/locale/
api/Jiri/node_modules/
api/Jiri/tests/coverage_html/
api/Jiri/tests/.coverage
api/Jiri/build/
api/Jiri/tests/report/
api/Jiri/config/my.cnf
